#hamburger {
    padding: 5px 0 12px 12px;
    margin-bottom: 10px;
    visibility: hidden;
}

#sidebar-toggle {
      display: none;
}

@media(max-width: 680px) {
    #hamburger {
        visibility: visible;
    }
    
    section.sidebar {
      display: none;
    }
    
    #sidebar-toggle:checked + section.sidebar {
      display: block;
    }
}