<section id="intro">
  <h2>Welcome!</h2>
  <article>
    <img src="assets/casual_headshot.png" alt="Headshot">
    <div class="column">
      <p>My name is Michael. I am a Jr. Full Stack Web Developer building responsive, beautiful, and intelligent applications.</p>
      <img src="assets/skills.jpg" alt="Rails | Heroku | Sinatra | Postgres">
    </div>
  </article>
</section>

<section id="projects">
  <h2>&bull; Projects &bull;</h2>
  <article>
    <ul>
      <li>
        <figure>
          <a href="capsules.herokuapp.com"><img src="assets/capsules_logo.png" alt="Capsules"></a>
          <figcaption>A daily dose of love!</figcaption>
        </figure>
        <hr>
        <p>Capsules is a text message batcher built using Sinatra, the Twilio API, and DataMapper (ORM) with deployment through Heroku.</p>
      </li>
    </ul>
  </article>
</section>

<section id="story">
  <article>

    <h2>&bull; Story &bull;</h2>

    <p>Two years ago I was a Fortune 100 R&D engineer working on critical infrastructure products that ship worldwide.</p>

    <p>I was selected to pilot a year-long program that would give me total vertical expertise in our company from manufacturing to customer support.</p>

    <p>It seemed great. Good people. Opportunity. I was making a bunch of money. The division supervisor told me I would be a millionaire in stock alone within two decades...</p>

    <p>I don't think it had the impact he intended.</p>

    <p>I remember thinking: two... <i>decades!?</i> I couldn't imagine staying there that long. No.It was too safe for me. Too slow. And all wrong.</p>

    <p>In fact, I'd made a huge mistake.</p> 

    <p>I'd gone into the wrong field altogether. I'd marched to the advice of well-meaning parents, teachers, and professors like a good little boy. Gotten my degree. Gotten the job. And... never taken the time to stop, research, and most importantly, <i>experiment</i> with different futures that <i>I</i> wanted.</p>

    <p>So, I did that. I quit my job to the consternation of my parents and took off to Southeast Asia for 90 days.</p>

    </p> Over the next year I published half a book on Amazon. Tried development for Oculus. Coached football and strength training. Even did some hair modeling...</p>

    <p>Didn't matter. Nothing seemed to fit.</p>

    <p>So, dejected I came back to the <i>why</i> of it all. I looked through my transcripts from college and realized I had a 4.0 in all software and digital logic courses. I got excited. I looked back throughout my life at what I'd enjoyed most; I'd always had a love for crafting experiences from cooking, to writing, to being a dungeon master.</p>

    <p>I thought, hey game development uses software to build experiences. Let's go for that!</p>

    <p>I'd missed an ingredient. Meaning. How could I feel good about making games? What was I adding? Where was the value?</p>

    <p>So. It's taken two years but I've learned three key things:</p>

    <ol>
      <li>I love building software and I'm good at it</li>
      <li>I love building experiences and I'm good at it</li>
      <li>I love to add value through meaningful work</li>
    </ol>

    <p>Excited once again I began looking around. Where could I add value? What would fit with these three criteria?</p>

    <p>Web development seemed promising. I had built my first website in highschool and liked it. But I wanted to be sure. I reached out to developers and founders for information and took coursework to test the water.</p>

    <p>I loved it. No resistance. I wake up and program and go to sleep programming.</p>

    <p>It took some time but now I can say with <i>certainty</i> I want to build responsive, beautiful, and intelligent web applications.</p>

    <a href="">Think I can help you?</a>
  </article>
</section>

<section id="skills">
  <h2>&bull; Skills &bull;</h2>
  <article>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>Sinatra</li>
      <li>Flask</li>
      <li>Git/Github</li>
    </ul>

    <ul>
      <li>Ruby</li>
      <li>Python</li>
      <li>C#</li>
      <li>Assembly</li>
      <li>C/C++</li>
    </ul>
  </article>
</section>