<!doctype html>
<html lang="en-US">
  <head>
    <title>MRM | Profile</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="stylesheets/whitespace-reset.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/layout.css">
    <link rel="stylesheet" href="stylesheets/home.css">

  </head>
  <body>
    <header>
      <h1>Michael Mentele</h1>
      <h3>Full Stack Developer</h3>
      <nav>
        <ul>
          <li><a href="/#intro">INTRO</a></li>
          <li><a href="/#projects">PROJECTS</a></li>
          <li><a href="/#story">STORY</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <h2>Michael Mentele</h2>
      <h3>Full Stack Developer</h3>
      <nav>
        <ul>
          <li><a href="/#intro">INTRO</a></li>
          <li><a href="/#projects">PROJECTS</a></li>
          <li><a href="/#story">STORY</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>